/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.json
/vendor
/.idea
/.vagrant
artisan.bat
composer.bat
composer.phar
deploy_servers.php
deployer.phar
phpunit.phar
Homestead.json
Homestead.yaml
laravel.bat
.env
