// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-fileinput/css/fileinput";
@import "switch";
@import "node_modules/fuelux/dist/css/fuelux";

$navH: 50px;
$tap: 5px;

body {
  min-width: 560px;
}

.nowrap {
  white-space: nowrap;
}

.app {
  nav {
    width: 100%;
    height: $navH;
    position: fixed;
    margin-bottom: 2px;
    z-index: 4;

    .container {
      width: auto;
    }
    .navbar-collapse {
      /* background-color: #FFFFFF; */

      .search {
        width: 200px;
        margin-top: 7px;
      }
    }
  }
  a {
    cursor: pointer;
  }
  .content {
    padding-top: $navH + $tap;
  }
}

.torrent {
  .torrent-table {
    width: 100%;
    height: 72px;

    td {
      white-space: nowrap;
      /*border: 1px solid black;*/
    }
    .progress {
      margin-bottom: 0;
      height: 12px;

      .progress-bar {
        line-height: 12px;
        text-align: center;
        color: white;
        text-shadow: #3097D1 1px 1px 0, #3097D1 -1px -1px 0,
        #3097D1 -1px 1px 0, #3097D1 1px -1px 0;
      }
    }
    .t-td-btm {
      width: 72px;
      padding-right: 10px;

      .btn {
        overflow: hidden;
        white-space: normal;
        font-size: 10px;
        width: 72px;
        height: 72px;
        padding: 2px;
        text-align: center;

        .glyphicon {
          font-size: 30px;
        }
      }
    }
    .t-td-name {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .t-td-eta {
      text-align: center;
    }
    .t-td-date,
    .t-td-progress,
    .t-td-size,
    .t-td-eta,
    .t-td-leechers,
    .t-td-upload,
    .t-td-seeders,
    .t-td-download {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .t-td-leechers,
    .t-td-upload {
      color: red;
    }
    .t-td-seeders,
    .t-td-download {
      color: green;
    }
    .t-td-upload,
    .t-td-download {
      width: 110px;
    }
    .t-td-leechers,
    .t-td-seeders {
      text-align: right;
      width: 50px;
    }
    .t-td-size {
      width: 90px;
      color: orange;
    }
    .t-td-date {
      vertical-align: top;
      text-align: right;
    }
  }
  .table-menu {
    margin-bottom: 0;
  }
  .torrent-edit {
    .fuelux {
      overflow: scroll;
      overflow-x: auto;
      overflow-y: auto;
    }
    .tree-item-name {
      text-align: left;
    }
    .size-info {
      color: blue;
      float: right;
    }
    .tree-table {
      width: 100%;

      .tree-table-id {
        text-align: right;
        white-space: nowrap;
        padding-right: 10px;
        width: 20px;
      }
      .tree-table-name {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 10px;
      }
      .tree-table-size {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #eeb300;
      }
      .tree-table-size-p {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #00b3ee;
      }
    }
  }
}

.explorer {
  $explorerInfoW: 275px;
  $explorerPathH: 45px;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    padding-left: 1px;
    padding-right: 1px;
  }
  .explorer-path {
    position: fixed;
    top: $navH;
    padding-top: $tap;
    width: 100%;
    height: $explorerPathH;
    padding-right: $explorerInfoW + $tap;
    z-index: 2;
    background-color: $body-bg;
    .panel {
      height: $explorerPathH;
      margin: 0;
    }
  }
  .explorer-info {
    position: fixed;
    top: $navH + $tap;
    right: 0;
    width: $explorerInfoW;
    z-index: 3;
  }
  .explorer-items {
    padding-top: $explorerPathH - 1px;
    padding-right: $explorerInfoW + $tap;
    width: 100%;
  }
  .explorer-item {
    display: inline-block;
    vertical-align: bottom;
    width: 110px;
    height: 125px;
    margin: 2px;
    overflow: hidden;

    .select {
      position: absolute;
      margin-top: 5px;
      margin-left: 5px;
    }
    .ext {
      display: block;
      position: relative;
      right: 0;
      top: 60px;
      width: 100px;
      height: 0;
      text-align: center;
      text-transform: uppercase;
    }
    .text {
      display: block;
      text-align: center;
      font-size: 12px;
      color: #000000;
      font-family: Arial, sans-serif;
    }
  }
  .explorer-item.is_link .text {
    color: #3097D1;
  }
  .explorer-img-box {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;

    img {
      display: block;
      margin: auto;
    }
  }
}

.rc {
  .modal-header {
    h4 {
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .modal-content {
    width: 440px;
  }
  .row {
    padding: 5px;
  }
  .rc-row-play {
    button {
      font-size: 35px;
      line-height: 35px;
    }
    button.btn-big {
      font-size: 70px;
      line-height: 70px;
      margin: 0 15px;
    }
    div {
      text-align: center;
    }
    .rc-btn-backward {
      padding-right: 20px;
    }
    .rc-btn-forward {
      padding-left: 20px;
    }
  }
  .rc-btn-sound,
  .rc-btn-time {
    width: 100px;
  }
  .rc-row-sound input {
    margin: 8px 0;
  }
  .rc-row-sound div {
    height: 36px;
  }
  .rc-last-play {
    .rc-last-play-name {
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      text-align: left;
      padding-left: 0;
      color: $text-color;
    }
    .rc-last-play-buttons {
      text-align: right;
    }
  }
  .rc-row-color-settings {
    label {
      font-weight: normal;
    }
  }
  .col-color-settings {
    text-align: right;
  }
}

.my-carousel {
  .modal {
    margin: 50px 0 70px 0;

    .close {
      z-index: 1055;
      position: fixed;
      right: 20px;
      top: 20px;
      font-size: 40px;
    }
    .footer {
      position: fixed;
      height: 40px;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000000;

      .button {
        display: inline-block;
        color: #3097D1;
        padding: 6px;
      }
      .switch {
        top: 3px;
        margin-bottom: 0;
      }
      .slider {
        background-color: #484848;
      }
      input:checked + .slider {
        background-color: #00834c;
      }
    }
    .img-responsive {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1051;
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
    .carousel-control.left,
    .carousel-control.right {
      background-image: none;
      z-index: 1052;
    }
  }
}

.editor-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 5;
  min-width: 560px;

  td {
    padding: 4px 10px;
  }
  .editor-txt-row1 {
    height: 50px;
    nav {
      position: static;
    }
  }
  .editor-txt-row2 {
    height: 40px;
  }
  .editor-txt-row3 {
    textarea {
      width: 100%;
      height: 100%;
      border: 1px solid #b1bbbf;
    }
  }
  .editor-txt-col1 {
    width: 136px;
  }
  .editor-txt-col2 {
    width: 160px;
  }
  .editor-txt-col3 {
    width: 160px;
  }
  .editor-txt-col4 {
    width: 160px;
  }
  .editor-txt-col5 {
    text-align: right;
  }
}

.navbar-collapse {
  position: relative;
  background: none;
}

@media (max-width: $screen-sm) {
  .navbar-collapse {
    background: #ffffff;
  }
}

.navbar-header {
  position: relative;
  z-index: 1;
}
