
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.app {
  nav {
    width: 100%;
    position: fixed;
    margin-bottom: 2px;

    .container {
      width: auto;
    }
  }
  .content {
    padding-top: 55px;
  }
}